<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:replace="fragments/header :: header">
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/static/css/main.css}" type="text/css" />
    <title>Client Listing</title>
  </head>
  <body>
    <h1>Client Listing</h1>
    <p><a href="/person/list">Person Listing</a><a href="/client/create">Create New Client</a></p>
    <th:block th:unless="${#lists.isEmpty(clients)}">
      <table>
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Website</th>
            <th>Phone Number</th>
            <th>Contacts</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="client : ${clients}">
            <tr>
              <td th:text="${client.companyName}">Name</td>
              <td th:text="${client.websiteURI}">Website</td>
              <td th:text="${client.phoneNumber}">Phone</td>
              <td>
              <th:block th:each="person : ${persons}">
              <li th:if="${person.clientId} == ${client.clientId}" th:text="${person.firstName} +' '+ ${person.lastName}">Phone</li>
              </th:block>
              </td>
              <td>
                <a th:href="'/client/edit/' + ${client.clientId}">Edit Client</a>
                <a th:href="'/client/delete/' + ${client.clientId}">Delete Client</a>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </th:block>
    <th:block th:if="${#lists.isEmpty(clients)}">
      <p>No results found.</p>
    </th:block>
  </body>
</html>
