<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:replace="fragments/header :: header">
    <title>Create Person</title>
  </head>
  <body>
    <h1>Create Person</h1>
    <th:block th:unless="${#lists.isEmpty(errors)}">
      <p>Please correct the following errors in your submission:</p>
      <ul>
        <th:block th:each="error : ${errors}">
          <li class="error" th:text="${error}">error</li>
        </th:block>
      </ul>
    </th:block>
    <form name="form" action="/person/create" onsubmit="return validateForm()" method="POST">
      <input type="hidden" name="personId" th:value="${person.personId}" maxlength="50"/>
      <br/>
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" th:value="${person.firstName}" maxlength="50"/>
      <br/>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" th:value="${person.lastName}" maxlength="50"/>
      <br/>
      <label for="emailAddress">Email Address:</label>
      <input type="text" name="emailAddress" th:value="${person.emailAddress}" maxlength="50"/>
      <br/>
      <label for="streetAddress">Street Address:</label>
      <input type="text" name="streetAddress" th:value="${person.streetAddress}" maxlength="50"/>
      <br/>
      <label for="city">City:</label>
      <input type="text" name="city" th:value="${person.city}" maxlength="50"/>
      <br/>
      <label for="state">State:</label>
      <input type="text" name="state" th:value="${person.state}" maxlength="2"/>
      <br/>
      <label for="zipCode">Zip Code:</label>
      <input type="text" name="zipCode" th:value="${person.zipCode}" maxlength="5"/>
      <br/>
      <label for="client">Client:</label>
      <select th:field="*{person.clientId}">
      	<option value="0" th:selected="0">No Client</option>
    	<option th:each="client : ${clients}" th:value="${client.clientId}" th:text="${client.companyName}">
    	</option>
	  </select>
      <br/>
      <br/>
      <input type="submit" name="Submit" value="Submit"/>
    </form>
  </body>
</html>
